.content-user{
    background-color: white;
    width: 400px;
    height: 820px;
    border-radius: 1.5rem;
    position: absolute;
    top: 50px;
    left: 150px;
}
.user-text{
    text-align: center;
    // display: none;
}
.foto-personal{
    margin: 30px 0 0 0;
    height: 150px;
    border-radius: 100%;
}
.info-redes{
    ul{
        display: flex;
        list-style: none;
        margin-left: 85px;
    }
    li{
        margin: 10px;
    }
}
.btn-contact{
    cursor: pointer;
    border: none;
    background-color: $red;
    padding: 10px 50px;
    border-radius: 10px;
    text-decoration: none;
    color:white;
}
.btn-contact:hover{
    color: white;
    background-color: $green;
    transition: 0.5s;
}
.btn-space{
    margin-top: 5px;
}
