.container-info{
  background-color: white;
  width: 1150px;
  height: 820px;
  top: 100px;
  border-radius: 1.5rem;
  position: absolute;
  left: 750px;
  top: 50px;
}
.nav-list{
  a{
      text-decoration: none;
      color: black;
  }
  li{
      margin-left: 125px;
      list-style: none;
      transition: 1.5s;
  }
  a:hover{
    color: $red;
  }
  display: flex;
}
.knowledge-text{
  margin-top: 50px;
  text-align: center;
}
.aboutme-text{
  text-align: center;
}
.proyects-port {
  text-align: center;
  img{
    transition: 1s;
    width: 500px;
    margin-top: 40px;
    border: 2.5px solid #ccc;
    border-radius: 10px;
  }
}
.repositories{
  li{
    margin:0 400px 1px 350px ;
    list-style: none;
    text-align: center;
  }
  a{
    text-decoration: none;
    font-family: 'Monserrat', sans-serif;
    font-size: 1.140rem;
    color: black;
  }
  a:hover{
    color: $red;
  }
}
// Tabs Informacion sobre el portafolio
.tabs-tablist-item {
  display: block;
  text-decoration: none;
}
.tabs-content-item{
  transition: 1s;
}
.js-content-hidden {
  display: none;
}
.js-active{
  transition:0.2s;
  transform: scale(1.5);
}
.userVideos{
  margin-top: 100px;
}


